//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.footer {
    background: $fontcolor;
    color: $white;
    padding: 80px 5% 100px 5%;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
      padding: 60px 20px;
      flex-direction: column-reverse;
    }
    &__infoArea {
        width: 35%;
        @media screen and (max-width: 767px) {
          width: 100%;
          text-align: center;
        }
    }
    &__logo {
        max-width: 220px;
        width: 100%;
        margin-bottom: 30px;
        @media screen and (max-width: 767px) {
          margin: 0 auto 30px;
        }
    }
    &__address {
        margin-bottom: 30px;
        font-size: 14px;
    }
    &__copy {
        font-size: 10px;
    }
    &__fnav {
        width: 65%;
        display: flex;
        justify-content: flex-end;
        color: $white;
        @media screen and (max-width: 767px) {
          width: 100%;
          justify-content: center;
          margin-bottom: 40px;
        }
    }
}
.fnav {
   
    &__col {
        max-width: 130px;
        width: 100%;
    }
    &__ttl {
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 15px;
    }
    &__innerList {
        position: relative;
        padding-left: 30px;
        margin-bottom: 20px;
        font-size: 14px;
        &::before {
            content: "-";
            display: block;
            position: absolute;
            top: 0;
            left: 10px;
        }
    }
}