//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    // background: $white;
    @media screen and (max-width: 1024px) {
      height: 60px;
    }
    &__logo {
        max-width: 220px;
        width: 100%;
        line-height: 0;
        @media screen and (max-width: 1024px) {
          max-width: 180px;
        }
    }
}