//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

html {
    font-size: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    @media screen and (max-width: 767px) {
      scroll-padding-top: 60px;
    }
}

body {
    color: $fontcolor;
    font-family: $zenkaku;
    font-weight: 400; 
}

li {
    list-style: none;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
    transition: all .3s ease;
}

a:hover {
    opacity: 0.7;
}

iframe {
    vertical-align: bottom;
}

img {
    vertical-align:  bottom;
}