//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

#company {
  .main {
    padding-top: 80px;

    @media screen and (max-width: 1024px) {
      padding-top: 60px;
    }
  }

  // pageHeader

  .pageHeader {
    @include pageHeader;

    &__pic {
      background: url(../images/company/mainvisual.jpg)center center / cover;
      @include pageHeaderPic;
    }

    &__ttl {
      @include pageHeaderTtl;
    }

    &__en {
      @include pageHeaderEn;
    }

    &__ja {
      @include pageHeaderJa;
    }
  }

  // pageLink

  .pageLink {
    @include wrapper;
    display: flex;
    margin-bottom: 70px;

    @media screen and (max-width: 767px) {
      margin-bottom: 40px;
    }

    &__list {
      width: calc(100% / 4);
      position: relative;
      border-left: 1px solid $fontcolor;
      text-align: center;

      @media screen and (max-width: 767px) {
        font-size: 12px;
      }

      &:last-child {
        border-right: 1px solid $fontcolor;
      }

      &::after {
        content: "";
        width: 0;
        height: 0;
        bottom: -10px;
        left: 0;
        right: 0;
        display: block;
        position: absolute;
        border-top: 7px solid $fontcolor;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        margin: 0 auto;
      }
    }
  }

  // philosophy
  .philosophy {
    margin-bottom: 120px;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
      position: static;
    }

    &__head {
      @include headTtl;
    }

    &__ttl {
      @include headSpan;
    }

    &__inner {
      @include wrapper;
    }

    &__txtArea {
      width: 70%;
      background: $bgcolor;
      padding: 7% 0 10% 6%;
      margin-top: 120px;

      @media screen and (max-width: 767px) {
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;
        position: static;
      }
    }

    &__txtInner {
      width: clamp(250px, 34vw, 350px);

      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }

    &__txtHead {
      margin-bottom: 40px;
      line-height: 1.6;
      font-size: 24px;
      font-family: $zenold;
    }

    &__txtSub {
      margin-bottom: 30px;
      line-height: 2;
      font-size: 15px;
    }

    &__picTop {
      background: url(../images/company/philosophy1.jpg)center center / cover;
      position: absolute;
      top: 70px;
      left: 50%;
      width: clamp(390px, 50vw, 460px);
      height: 320px;

      @media screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 20px;
        position: static;
        height: 243px;
      }
    }

    &__picBottom {
      background: url(../images/company/philosophy2.jpg)center center / cover;
      max-width: 280px;
      height: 280px;
      margin: -60px 0 0 10%;

      @media screen and (max-width: 767px) {
        max-width: 100%;
        margin: 0 auto;
        height: 350px;
      }
    }
  }

  // service
  .service {
    margin-bottom: 120px;

    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }

    &__head {
      @include headTtl;
    }

    &__ttl {
      @include headSpan;
    }

    &__inner {
      @include wrapper;
    }

    &__box {
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      box-shadow: 5px 5px 25px #ccc;

      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
        flex-direction: column;
      }

      &:last-of-type {
        flex-direction: row-reverse;

        @media screen and (max-width: 767px) {
          flex-direction: column;
        }
      }
    }

    &__txtArea {
      width: 44%;
      padding: 1% 5%;

      @media screen and (max-width: 767px) {
        width: 100%;
        padding: 20px;
      }
    }

    &__headJa {
      margin-bottom: 5px;
      font-size: 12px;
    }

    &__headEn {
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 32px;
      text-transform: capitalize;

      @media screen and (max-width: 767px) {
        font-size: 26px;
      }
    }

    &__info {
      margin-bottom: 20px;
      font-size: 14px;
    }

    &__btn {
      text-decoration: underline;
      text-align: right;
      text-transform: uppercase;
      font-size: 14px;
    }

    &__products {
      background: url(../images/company/products-interior.jpg)center center / cover;
      aspect-ratio: 537 / 286;
      width: 56%;
      transition: background-size .8s 1s ease-in-out, background-position .8s ease-in-out;
      clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, );

      @media screen and (max-width: 767px) {
        width: 100%;
        clip-path: none;
      }

      &:hover {
        background-size: 110%;
      }
    }

    &__works {
      background: url(../images/company/products-store.jpg)center center / cover;
      aspect-ratio: 537 / 286;
      width: 56%;
      transition: background-size .8s 1s ease-in-out, background-position .8s ease-in-out;
      clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%, );

      @media screen and (max-width: 767px) {
        width: 100%;
        clip-path: none;
      }

      &:hover {
        background-size: 110%;
      }
    }
  }

  // overview
  .overview {
    margin-bottom: 120px;

    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }

    &__head {
      @include headTtl;
    }

    &__ttl {
      @include headSpan;
    }

    &__inner {
      @include wrapper;
      display: flex;
      flex-wrap: wrap;

      & dt {
        width: 200px;
        padding: 40px 0;
        border-top: 1px solid $fontcolor;
        font-size: 15px;

        @media screen and (max-width: 767px) {
          width: 100px;
          padding: 20px 0;
        }

        &:last-of-type {
          border-bottom: 1px solid $fontcolor;
        }
      }

      & dd {
        padding: 40px 0;
        width: calc(100% - 200px);
        border-top: 1px solid #ccc;
        line-height: 1.8;
        font-size: 15px;

        @media screen and (max-width: 767px) {
          padding: 20px 0;
          width: calc(100% - 100px);
        }

        &:last-of-type {
          border-bottom: 1px solid #ccc;
        }
      }

    }
  }

  // access
  .access {
    margin-bottom: 120px;

    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }

    &__head {
      @include headTtl;
    }

    &__ttl {
      @include headSpan;
    }

    &__inner {
      @include wrapper;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 20px;
    }
    &__info {
      text-transform: uppercase;
      line-height: 1.8;
      font-size: 14px;
    }
    &__link {
      width: 90px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $fontcolor;
      font-size: 12px;
    }
    &__map iframe {
      width: 100%;
      height: 400px;
    }
  }
  }