//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

#contact {
    .main {
        padding-top: 80px;

        @media screen and (max-width: 1024px) {
            padding-top: 60px;
        }
    }

    // pageHeader

    .pageHeader {
        @include pageHeader;

        &__pic {
            background: url(../images/contact/mainvisual.jpg)center center / cover;
            @include pageHeaderPic;
        }

        &__ttl {
            @include pageHeaderTtl;
        }

        &__en {
            @include pageHeaderEn;
        }

        &__ja {
            @include pageHeaderJa;
        }
    }

    .contact {
        &__intro {
            margin-bottom: 80px;
            text-align: center;
            line-height: 2;
            font-size: 15px;
        }
    }

    // form
    .form{
        &__area {
            max-width: 1280px;
            padding: 0 20px;
            margin: 0 auto 120px;
            @media screen and (max-width: 767px) {
              margin: 0 auto 60px;
            }
            & dl {
                margin-bottom: 40px;
            }
        }
        &__ttl {
            margin-bottom: 30px;
            padding-bottom: 10px;
            border-bottom: 1px solid $fontcolor;
            text-align: center;
            font-weight: 500;
        }
        
        &__item {
            margin-bottom: 10px;
            display: flex;
            font-size: 15px;
            @media screen and (max-width: 767px) {
              margin-bottom: 40px;
              flex-direction: column;
            }
            & dt {
                width: 250px;
                padding: 60px 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: #f5f5f5;
                @media screen and (max-width: 767px) {
                  width: 100%;
                  padding: 20px;
                  margin-bottom: 10px;
                }
                & span {
                    padding: 2px 5px;
                    border: 1px solid $require;
                    color: $require;
                    font-weight: 500;
                    font-size: 10px;
                }
            }
            & dd {
                padding: 0 40px;
                width: calc(100% - 250px);
                display: flex;
                align-items: center;
                @media screen and (max-width: 767px) {
                  width: 100%;
                  padding: 0;
                }
                &.checkbox{
                    &__group {
                        display: flex;
                        align-items: center;
                        gap: 40px;
                        @media screen and (max-width: 767px) {
                          flex-direction: column;
                          align-items: flex-start;
                        }
                    }
                    &__item {
                        @media screen and (max-width: 767px) {
                          margin: 0 0 5px;
                        }
                    }
                }
                & textarea {
                    width: 100%;
                    padding: 20px;
                    border: 1px solid #ccc;
                }
            }
            & dd input[type="text"],
            & dd input[type="email"],
            & dd select {
                width: 100%;
                padding: 20px;
                border: 1px solid #ccc;
            }
            & dd input[type="checkbox"] {
                margin-right: 5px;
            }
        }
    }

    .privacy{
        &__policy {
        margin-bottom: 40px;
        font-size: 15px;
    }
        &__txt {
            max-width: 640px;
            height: 200px;
            padding: 40px 20px;
            margin: 0 auto 30px;
            overflow-x: hidden;
            border: 1px solid #ccc;
        }

        &__ttl {
            margin-bottom: 30px;
            text-align: center;
            font-weight: 500;
        }

        &__detail {
            margin-bottom: 30px;
        }

        &__item {
            line-height: 2;
        }
        &__list {
            margin-bottom: 20px;
        }
        &__check {
            text-align: center; 
        }
    
}

    .btn__submit {
        width: 100px;
        height: 40px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $fontcolor;
        color: $white;
        font-size: 14px;
    }
}