//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

#faq {
    .main {
        padding-top: 80px;

        @media screen and (max-width: 1024px) {
            padding-top: 60px;
        }
    }

    // pageHeader

    .pageHeader {
        @include pageHeader;

        &__pic {
            background: url(../images/faq/mainvisual.jpg)center center / cover;
            @include pageHeaderPic;
        }

        &__ttl {
            @include pageHeaderTtl;
        }

        &__en {
            @include pageHeaderEn;
        }

        &__ja {
            @include pageHeaderJa;
        }
    }

    // faq

    .faq {
        &__intro {
            margin-bottom: 80px;
            text-align: center;
            line-height: 2;
            font-size: 15px;
        }
        &__item {
            max-width: 1280px;
            padding: 0 20px;
            margin: 0 auto 120px;
            @media screen and (max-width: 767px) {
              margin: 0 auto 60px;
            }
        }
        &__list {
            border-top: 1px solid $fontcolor;
            @media screen and (max-width: 767px) {
              padding-right: 20px;
            }
            &:last-child {
                border-bottom: 1px solid $fontcolor;
            }
            & dt {
                display: flex;
                padding: 40px 0;
                gap: 100px;
                position: relative;
                cursor: pointer;
                line-height: 1.8;
                font-size: 15px;
                @media screen and (max-width: 767px) {
                  padding: 30px 0;
                  gap: 20px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    width: 15px;
                    height: 1px;
                    background: $fontcolor;
                    top: 55px;
                    right: 0;
                    @media screen and (max-width: 767px) {
                      top: 45px;
                      right: -20px;
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 15px;
                    background: $fontcolor;
                    top: 48px;
                    right: 6px;
                    left: auto;
                    @media screen and (max-width: 767px) {
                      top: 38px;
                      right: -14px;
                    }
                }
                &.active::after {
                    content: none;
                }
                
            }
            & dd {
                display: flex;
                gap: 100px;
                padding-bottom: 40px;
                line-height: 1.8;
                font-size: 15px;
                @media screen and (max-width: 767px) {
                    gap: 20px;
                    padding-bottom: 30px;

                }
                & a {
                    text-decoration: underline;
                    display: inline-block;
                }
            }
        }
        &__question {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            border-radius: 50%;
            font-size: 14px;
            text-transform: uppercase;
            background: $fontcolor;
            color: $white;
        }
        &__answer {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            border-radius: 50%;
            font-size: 14px;
            text-transform: uppercase;
            border: 1px solid $fontcolor;
            color: $fontcolor;
        }
    }


}