//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

#works {
    .main {
        padding-top: 80px;

        @media screen and (max-width: 1024px) {
            padding-top: 60px;
        }
    }

    // pageHeader

    .pageHeader {
        @include pageHeader;

        &__pic {
            background: url(../images/works/mainvisual.jpg)center center / cover;
            @include pageHeaderPic;
        }

        &__ttl {
            @include pageHeaderTtl;
        }

        &__en {
            @include pageHeaderEn;
        }

        &__ja {
            @include pageHeaderJa;
        }
    }

    // works

    .works {
        &__intro {
            margin-bottom: 80px;
            padding: 0 20px;
            line-height: 2;
            text-align: center;
            font-size: 15px;
            @media screen and (max-width: 767px) {
              margin-bottom: 40px;
            }
            & br {
                @media screen and (max-width: 767px) {
                  display: none;
                }
            }
        }

        &__item {
            margin-bottom: 120px;
            @media screen and (max-width: 767px) {
              margin-bottom: 60px;
            }
        }
        &__list {
            display: flex;
            align-items: center;
            border-top: 1px solid $fontcolor;
            @media screen and (max-width: 767px) {
              flex-direction: column;
            }
            &:last-of-type {
                border-bottom: 1px solid $fontcolor;
            }
        }
        &__pic {
            width: 50%;
            @media screen and (max-width: 767px) {
              width: 100%;
            }
        }
        &__img  {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
        &__txt {
            width: 50%;
            padding: 0 5%;
            @media screen and (max-width: 767px) {
              width: 100%;
              padding: 20px;
            }
        }
        &__ttl {
            margin-bottom: 40px;
            font-weight: 500;
            text-transform: uppercase;
        }
        &__info {
            margin-bottom: 40px;
        }
        &__detail {
            margin-bottom: 5px;
            display: flex;
            gap: 5px;
            font-size: 14px;
            text-transform: capitalize;
        }
        &__more {
            width: 130px;
            padding: 10px 15px;
            position: relative;
            background: $fontcolor;
            color: $white;
            cursor: pointer;
            font-size: 12px;
        }
        &__btn {
            max-width: 16px;
            position: absolute;
            top: 11px;
            right: 11px;
        }
        &__modal {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 50%);
            padding: 80px 20px;
            text-align: center;
            overflow: auto;
            opacity: 0;
            visibility: hidden;
            transition: .3s;
            z-index: 20;
            &.active {
                opacity: 1;
                visibility: visible;
            }
            &Content {
                max-width: 860px;
                width: 100%;
                padding: 80px;
                position: relative;
                display: inline-block;
                background: $white;
                @media screen and (max-width: 767px) {
                  padding: 40px 20px;
                }
            }
            &More{
                position: absolute;
                top: 20px;
                right: 20px;
                cursor: pointer;
            }
            &Btn {
                max-width: 25px;
            }
            &Ttl {
                margin-bottom: 20px;
                text-align-last: left;
                text-transform: uppercase;
            } 
        }
    }

    
}