// settingフォルダの変数を読み込みます

@use "../setting" as *;

@mixin secTtl {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-size: clamp(68px, 8vw, 130px);
    color: rgba(51, 51, 51, 0.9);

    @media screen and (max-width: 767px) {
        font-size: 12vw;
    }
}

@mixin btn {
    max-width: 120px;
    padding: 10px 0;
    position: relative;
    z-index: 10;
    background: $white;
    border: 1px solid $fontcolor;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
        transform-origin: 100% 50%;
        transform: scaleX(0);
        transition: transform ease .3s;
        background: $fontcolor;
    }

    &:hover {
        opacity: 1;
        color: $white;

        &::before {
            transform-origin: 0% 50%;
            transform: scale(1);
        }
    }
}

// 下層ページのmv

@mixin pageHeader {
    margin-bottom: 80px;
    position: relative;

    @media screen and (max-width: 767px) {
        margin-bottom: 40px;
    }
}

@mixin pageHeaderPic {
    width: 100%;
    height: 320px;

    @media screen and (max-width: 767px) {
        height: 240px;
    }
}

@mixin pageHeaderTtl {
    max-width: 400px;
    width: 100%;
    height: 100%;
    padding: 0 4%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.9);
    color: $white;

    @media screen and (max-width: 767px) {
        height: 70px;
        top: auto;
        bottom: 0;
    }
}

@mixin pageHeaderEn {
    display: block;
    font-size: 46px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
        font-size: 24px;
    }
}

@mixin pageHeaderJa {
    display: block;
    font-size: 14px;
    font-weight: 400;

    @media screen and (max-width: 767px) {
        font-size: 12px;
    }
}

@mixin wrapper {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

// philosophy title
@mixin headTtl {
    margin-bottom: 60px;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    @media screen and (max-width: 767px) {
      margin-bottom: 10px;
    }
}

@mixin headSpan {
    max-width: 1000px;
    display: block;
    padding: 0 20px;
    margin: 0 auto;
    &:before {
        content: "";
        width: calc((100% - 1000px) / 2);
        height: 1px;
        background: $fontcolor;
        position: absolute;
        top: 12px;
        left: 0;
        @media screen and (max-width: 767px) {
          content: none;
        }
    } 
}